<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu">
  <%= link_to("Home", home_path, {class: "menu-item"}) %>
  <%= link_to("About", about_path, {class: "menu-item"}) %>
  <%= link_to("Blog Posts", posts_path, {class: "menu-item"}) %>
  <% if user_signed_in? %>
    <%= link_to "Favourite Posts", favourites_path, {class: "menu-item"} %>
    <%= link_to("Log Out", sessions_path, {class: "menu-item", method: :delete}) %>
  <% else %>
    <%= link_to "Sign In", new_session_path %>
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
</div>
<div>
  <%= notice || alert %>
</div>

<%= yield %>

</body>
</html>
