<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to("Home", home_path, {class: "menu-item"}) %></li>
        <li><%= link_to("About", about_path, {class: "menu-item"}) %></li>
        <li><%= link_to("Blog Posts", posts_path, {class: "menu-item"}) %></li>
      </ul>
      <ul class ="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Favourite Posts", favourites_path, {class: "menu-item"} %></li>
          <li><%= link_to("Log Out", sessions_path, {class: "menu-item", method: :delete}) %></li>
        <% else %>
          <li><%= link_to "Sign In", new_session_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
    <%= notice || alert %>
  </div>

  <%= yield %>
</div>
</body>
</html>
